<html>
<body>
<h1>UPDATE THREADS</h1>
<form class="" action="/thread/edit/<%=keyThread.id%>" method="POST">
  <input type="text" placeholder="judulThread" name="judulThread" value=<%=keyThread.judulThread%>>
  <input type="text" placeholder="JenisMakananID" name="JenisMakananID" value=<%=keyThread.JenisMakananID%>>
  <input type="date" placeholder="waktuMulai" name="waktuMulai" value=<%=keyThread.waktuMulai%>>
  <input type="date" placeholder="waktuBerakhir" name="waktuBerakhir" value=<%=keyThread.waktuBerakhir%>>
  <input type="date" placeholder="location" name="location" value=<%=keyThread.location%>>
  <input type="submit" value="submit">
</form>
</body>
</html>
