<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>WELCOME</h1>
    <h3><%=dataUser.name%></h3>
    <h1>MAKAN BARENG</h1>
    <br>
    <a href="/thread/joinThread/<%=dataUser.id%>">Gabung Acara Makan Bareng</a>
    <br>
    <a href="/thread/user/add">Buat Acara Makan Bareng</a>
    <table>
      <table border="1">
          <thead>
            <h4>Ini Acara yang Kamu Buat</h4>
            <tr>
              <th>id</th>
              <th>Acara Party</th>
              <th>Tema Makanan</th>
              <th>Makanan Party</th>
              <th>Time Started</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%dataThreads.forEach(function(data){%>
              <%if(data.Makanan.role != "master"){%>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.judulThread %></td>
                <td><%= data.JenisMakananID %></td>
                <td><%=data.Makanan.namaMakanan%></td>
                <td><%= data.waktuMulai %></td>
                <td> <a href="/thread/delete/makanan/<%=data.id%>">delete</a> </td>
              <%}%>
            </tr>
            <%})%>
          </tbody>
    </table>
    <table>
      <table border="1">
      <thead>
        <h4>Ini Acara Yang Kamu Ikuti</h4>
        <tr>
          <th>id</th>
          <th>Acara Party</th>
          <th>Tema Makanan</th>
          <th>Makanan yang harus kamu bawa</th>
          <th>Time Started</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%dataThreads.forEach(function(data){%>
          <%if(data.Makanan.role != "member"){%>
        <tr>
            <td><%= data.id %></td>
            <td><%= data.judulThread %></td>
            <td><%= data.JenisMakananID %></td>
            <td><%=data.Makanan.namaMakanan%></td>
            <td><%= data.waktuMulai %></td>
            <td> <a href="/thread/delete/makanan/<%=data.id%>">delete</a> </td>
          <%}%>
        </tr>
        <%})%>
      </tbody>
    </table>
    </body>
  </html>
